name: Website build & deployment

on:
  push:
    branches: ["main"]
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "website"
  cancel-in-progress: false

jobs:
  build-and-deploy:
    name: Build & deploy website
    runs-on: ubuntu-latest

    steps:
      - name: Clone repository
        uses: actions/checkout@v5

      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: 'npm'
          cache-dependency-path: src/package-lock.json

      - name: Install Node.js dependencies
        working-directory: src
        run: npm install

      - name: Build website
        working-directory: src
        run: npm run build

      - name: Setup Pages
        uses: actions/configure-pages@v5

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v4
        with:
          path: src/_website

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
